In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
df = pd.read_csv('nutrients_csvfile.csv')
df

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products
...,...,...,...,...,...,...,...,...,...,...
330,Fruit-flavored soda,12 oz.,346,161,0,0,0,0,42,"Drinks,Alcohol, Beverages"
331,Ginger ale,12 oz.,346,105,0,0,0,0,28,"Drinks,Alcohol, Beverages"
332,Root beer,12 oz.,346,140,0,0,0,0,35,"Drinks,Alcohol, Beverages"
333,Coffee,1 cup,230,3,t,0,0,0,1,"Drinks,Alcohol, Beverages"
334,Tea,1 cup,230,4,0,t,0,0,1,"Drinks,Alcohol, Beverages"

In [5]:
numeric_columns = ['Carbs', 'Protein', 'Sat.Fat']

for column in numeric_columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')
    
df[numeric_columns] = df[numeric_columns].fillna(0)

target_foods = ["Cows' milk", "Strawberries", "Steak"]

food_similarities_df = pd.DataFrame(index=df['Food'], columns=target_foods)

for target in target_foods:
    target_values = df[df['Food'] == target][numeric_columns].values.reshape(1, -1)
    similarities = cosine_similarity(target_values, df[numeric_columns])
    food_similarities_df[target] = similarities.flatten()
    
food_similarities_df

                       Cows' milk  Strawberries     Steak
Food
Cows' milk               1.000000      0.713626  0.707375
Milk skim                0.848234      0.831564  0.355583
Buttermilk               0.952169      0.806166  0.536235
Evaporated, undiluted    1.000000      0.713626  0.707375
Fortified milk           0.918130      0.801137  0.489180
...                           ...           ...       ...
Fruit-flavored soda      0.705882      0.999861  0.000000
Ginger ale               0.705882      0.999861  0.000000
Root beer                0.705882      0.999861  0.000000
Coffee                   0.705882      0.999861  0.000000
Tea                      0.705882      0.999861  0.000000

[335 rows x 3 columns]

In [6]:
for food in target_foods:
    top_similar_foods = food_similarities_df[food].sort_values(ascending=False)[1:11]
    print(f"\nTop 10 Most Similar Foods to {food} Based on Nutritional Profile (Carbs, Protein, Sat.Fat):")
    print(top_similar_foods)

Top 10 Most Similar Foods to Cows' milk Based on Nutritional Profile (Carbs, Protein, Sat.Fat):
Food
Evaporated, undiluted    1.000000
Goats' milk              0.999048
Pot-pie                  0.997201
Powdered milk            0.995881
Walnuts                  0.993647
Butter                   0.987136
Butter                   0.987136
Clam chowder             0.986536
Oysters                  0.986029
Cream soups              0.981887
Name: Cows' milk, dtype: float64

Top 10 Most Similar Foods to Strawberries Based on Nutritional Profile (Carbs, Protein, Sat.Fat):
Food
Blueberries               0.999999
Pineapple Crushed         0.999999
Peaches                   0.999997
Plums                     0.999994
Pears                     0.999994
Fruit cocktail, canned    0.999994
Prune juice               0.999985
Grapefruit sections       0.999982
Rhubarb sweetened         0.999979
Grape juice               0.999975
Name: Strawberries, dtype: float64

Top 10 Most Similar Foods to Steak Based on Nutritional Profile (Carbs, Protein, Sat.Fat):
Food
Cheddar                    1.000000
Ham pan-broiled            0.999684
Yolks                      0.999512
Roquefort type             0.999512
Shoulder, braised          0.999426
Processed cheese           0.999028
Lamb, chop, broiled        0.998945
Cheddar, grated cup        0.998870
Pork, chop, 1 thick        0.998653
Eggs Scrambled or fried    0.995927
Name: Steak, dtype: float64